<p class="mb-3">Lý do hoàn tiền là gì ?</p>
<textarea rows="5" [ngClass] = "'w-100'" pInputTextarea></textarea>
<button pButton pRipple type="button" label="Gửi yêu cầu" class="p-button-rounded p-button-secondary mt-3" (click)="sendRequest()"></button>
<p-toast position="top-center" key="tc"></p-toast>
