<!-- <p-sidebar [(visible)]="display">Content</p-sidebar> -->
<div class="container-fluid mt-3">
  <div class="col-lg-12 mb-3">
    <app-header (click)="showSidebar()"></app-header>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <app-sidebar class="w-100"></app-sidebar>
    </div>
    <div class="col-lg-10 rounded p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
