<form [formGroup]="userProfile" action="" (ngSubmit)="onClickSubmit()" class="mt-3">
  <div class="bg-light rounded-10 user-profile mb-5">
    <img src="./../../../../assets/image/duyduy.jpg" alt="" class="img-fluid user-profile_avatar">
  </div>
  <label for="" class="mt-3">Tên hiển thị</label>
  <input type="text" pInputText class="w-100 mt-2 mb-3" value="Lê Quang Duy" [disabled]="disable">
  <label for="">Số điện thoại</label>
  <input type="text" pInputText class="w-100 mt-2 mb-3" value="0854428377" [disabled]="disable">
  <div class="d-flex mt-5">
    <p-button *ngIf="disable" label="Chỉnh sửa" icon="pi pi-bars" styleClass="p-button-success p-button-rounded p-button-sm" class="pe-3" (click)="editUser()"></p-button>
    <p-button *ngIf="!disable" label="Cập nhật" icon="pi pi-check-circle" styleClass="p-button-danger p-button-rounded p-button-sm" class="pe-3" (click)="updateUser()"></p-button>
    <p-button *ngIf="!disable" label="Hủy" icon="pi pi-minus-circle" styleClass="p-button-warning p-button-rounded p-button-sm" (click)="cancelUpdate()"></p-button>
  </div>
</form>
<p-toast position="top-center" key="tc"></p-toast>
