<div class="rounded">
  <div class="bg-light rounded-10 border-0 p-3 h5 mb-4">Khóa học của tôi</div>
  <div class="row">
    <div class="col-md-3 mb-3 text-center" *ngFor="let item of myCourse">
      <div pRipple class="rounded-10 bg-light p-3">
        <img class="img-fluid rounded-10" src="../../../../assets/image/courses/{{item.img}}" alt="">
        <div class="d-flex flex-column">
          <p class="m-3 fw-bold fs-5">{{item.name}}</p>
          <p-rating class="mb-3" [ngModel]="3" [readonly]="true" [cancel]="false"></p-rating>
          <div class="d-flex justify-content-evenly">
            <button pButton pRipple icon="pi pi-code" [routerLink]="['course-detail']" (click) = "showEvent(item.id)" type="button" label="Vào học" class="p-button-rounded p-button-sm p-button-danger"></button>
            <button pButton pRipple icon="pi pi-exclamation-circle" type="button" label="Hoàn tiền" (click) = "refund(item.id)" class="p-button-rounded p-button-sm p-button-warning"></button>
            <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-danger" pTooltip="Yêu thích" tooltipPosition = "top" [hideDelay]="200" [showDelay]="500"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
