@import "./base/variable";
@import "./base/reset";
@import "./component/my-course.scss";

// component
@import "./component/left-sidebar.scss";
@import "./component/user-profile.scss";

.poiter{
  cursor: pointer;
}


@for $i from 10 through 50 {
  .rounded-#{$i} {
      border-radius: #{$i}px;
  }
}

.active{
  // color: $primary-color;
  background-color: $primary-color;
  // border-radius: 50px;
  color: #fff;
  transition: all 0.5s ease;
}

.bgc-primary{
  background-color: $primary-color !important;
}
.border-none{
  border: none !important;
}
p{
  margin: 0 !important;
}
.t-primary{
  color: $primary-color;
}
