.product-item {



}
.product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}
.product-image {
  width: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.car-buttons :not(:first-child){
  margin-left: 1rem;
}
.product-item-content{
  border-radius: 10px !important;
  outline: none !important;
  border: none !important;
}
:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button{
  border-radius: 10px !important;
}
:host ::ng-deep .p-dialog .p-dialog-content *{
  border-radius: 0 0 10px 10px !important;
  color: red !important;
}
