<div class="rounded-10 bg-light p-3 d-flex align-items-center justify-content-between">
  <p class="h5">Khóa học</p>
  <i class="pi pi-exclamation-triangle poiter p-1 rounded-50 bgc-primary text-light"></i>
</div>

<div class="mt-3 rounded-10 bg-light p-3 d-flex align-items-center justify-content-between">
  <p-carousel [value]="courses" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template let-course pTemplate="item">
        <div class="product-item ">
            <div class="product-item-content bg-white">
                <div class="mb-3">
                    <img src="../../../../assets/image/courses/{{course.img}}" [alt]="course.name" class="product-image img-fluid rounded" />
                </div>
                <div>
                    <h4 class="mb-3">{{course.name}}</h4>
                    <div class="bg-warning mt-5 p-3 rounded-10 d-inline">
                      <!-- <p class="d-inline">Giá: </p>   -->
                      <i class="fa-solid fa-money-bill-1 me-2"></i>
                      <h6 class="mt-0 mb-3 d-inline">{{course.price | number}} <span>đ</span></h6>
                    </div>
                    <!-- <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                    <div class="car-buttons mt-5 p-relative">
                        <p-button type="button" (click)="show()" styleClass="p-button-danger p-button p-button-rounded mr-2" label="Mua khóa học" icon="pi pi-shopping-bag"></p-button>
                        <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-book" (click)="showRoadmap()"></p-button>
                        <!-- <p-button type="button" styleClass="p-button-danger p-button-rounded" icon="pi pi-exclamation-triangle"></p-button> -->
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
  </p-carousel>
</div>
<div class="mt-3 rounded-10 bg-light p-3 d-flex align-items-center justify-content-between">
</div>
