<div class="bg-light rounded-10 p-3">
  <p class="m-0 h4">Bài: {{ contentLesson.id }}</p>
  <hr />
  <p class="m-0 mb-2">{{contentLesson.content}}</p>
  <p class="m-0 mb-2">{{contentLesson.content}}</p>

  <p class="m-0 mb-2">{{contentLesson.content}}</p>
  <p class="m-0 mb-2">{{contentLesson.content}}</p>
  <p class="m-0 mb-2">{{contentLesson.content}}</p>
  <button (click)="confirm1()" pButton pRipple icon="pi pi-spin pi-star-fill" type="button" label="Hoàn thành bài" class="p-button-rounded p-button-success mt-3"></button>
  <div class="mt-4  rounded-10 bgc-primary text-white p-3" *ngIf= "unlockTest">
    <p class="h4 text-center">Test</p>
    <div class="rounded-10 bg-white t-primary p-3 mt-3">
      <p>{{contentLesson.question}}</p>
      <div *ngFor="let category of listQuestion" class="p-field-checkbox">
        <p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedCategory" class="me-3 mt-3"></p-radioButton>
        <label [for]="category.key">{{category.name}}</label>
      </div>
      <div class="d-flex">
        <button pButton pRipple type="button" icon="pi pi-upload" label="Nộp bài" class="bgc-primary border-none p-button-sm mt-3 me-3" (click)="submit()"></button>
        <button pButton pRipple type="button" icon="pi pi-exclamation-triangle" label="Phản hồi" class="p-button-sm mt-3 p-button-danger"></button>
      </div>
    </div>
  </div>

  <p-confirmDialog [style]="{width: '25vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" (click)="show($event)"></p-confirmDialog>
  <p-toast></p-toast>
  <p-toast position="bottom-center" key="c" [baseZIndex]="5000" [style]="{opacity: '1'}">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h5>{{message.summary}}</h5>
            </div>
            <div class="d-flex justify-content-evenly mt-3">
              <button type="button" pButton label="Chấp nhận" class="p-button-success" (click)="onConfirm()"></button>
              <button type="button" pButton label="Hủy" class="p-button-secondary" (click)="onReject()"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
</div>


