
<div class="rounded">
  <div class="bg-light rounded-10 border-0 p-3 h5 mb-4 d-flex align-items-center">
    <button pButton icon="pi pi-arrow-left" type="button" label="Trở về" class="p-button-rounded bgc-primary border-none" (click)="back()"></button>
    <!-- <span class="ms-3">Lesson X</span> -->
  </div>
  <div class="row">
    <div class="col-md-9">
      <app-content-lesson [numberLesson] = rightsidebar.idLesson></app-content-lesson>
      <!-- <router-outlet></router-outlet> -->
    </div>
    <div class="col-md-3 overflow-scroll">
      <app-right-sidebar #rightsidebar></app-right-sidebar>
    </div>
  </div>
</div>
