<div class="bg-light rounded-10 p-3">
  <p class="h5">Thống kê</p>
</div>
<div class="bg-light rounded-10 p-3 mt-3">
  <div class="row">
    <div class="col-md-4">
      <p-chart type="radar" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
    </div>
    <div class="col-md-8">
      <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
  </div>
</div>
