.user-profile{
  height: 150px;
  position: relative;
}

.user-profile .user-profile_avatar{
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translateX(-50%);
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.user-profile .user-profile_avatar:hover{

}
