.p-tree{
  height: 1000px;
}
.red{
  color: red;
  background-color: red;
}
.p-menu .p-menuitem-link:hover{
  font-weight: bold;
}
:host ::ng-deep .p-menu {
  width:100%;
}
:host ::ng-deep .p-menu .p-menuitem-link .p-menuitem-text:hover{
  /* font-weight: bold; */
}
