<!-- <p-menu [model]="items"></p-menu>
<p-toast></p-toast> -->
<ul class="mt-5">
  <li class="row mb-3 poiter py-2 left-sidebar-item rounded-50" *ngFor="let item of sidebarMenu" routerLinkActive="active" [routerLink]= [item.linkActive]>
    <div class="col-lg-2 d-flex justify-content-center align-items-center" [innerHTML]="item.icon">
    </div>
    <div class="col-lg-10">
      {{item.label}}
    </div>
  </li>
</ul>
