<p-menubar>
  <div class="header d-flex align-items-center p-relative">
    <img src="./../../../../assets/image/CIRCLE-DNA-Logo-1x1.png" alt="logo">
    <div class="d-flex align-items-center" >
      <p class="me-4">Số dư ví: <span class="fw-bold text-success me-1">{{780000|number}}</span><span>đ</span></p>
      <i class="pi pi-shopping-cart p-text-secondary me-5" [value]="'5'" pBadge style="font-size: 2rem" (click)="cart.toggle($event)" severity="danger"></i>
      <p-overlayPanel #cart showTransitionOptions ="0.1s" hideTransitionOptions	= "0.1s linear" ariaCloseLabel="Đóng" [autoZIndex]="true">
        <ng-template pTemplate>
          Danh sách sản phẩm
        </ng-template>
      </p-overlayPanel>
      <i class="pi pi-bell p-text-success me-5" pBadge style="font-size: 2rem" [value]="'10+'" severity="success" (click)="op.toggle($event)"></i>
      <p-overlayPanel #op showTransitionOptions ="0.1s" hideTransitionOptions	= "0.1s linear" ariaCloseLabel="Đóng" [autoZIndex]="true">
        <ng-template pTemplate>
          <div class="d-flex gap-3 px-3 py-2 align-items-center">
            <i class="pi pi-comments"></i>
            <p>Thông báo 1</p>
            <p-badge value="3" severity="danger"></p-badge>
          </div>
          <div class="d-flex gap-3 px-3 py-2 align-items-center">
            <i class="pi pi-comments"></i>
            <p>Thông báo 2</p>
            <p-badge value="5" severity="danger"></p-badge>
          </div>
        </ng-template>
      </p-overlayPanel>
      <div class="user-info">
        <p class="fw-bold">Duy Le Quang</p>
        <p>Admin</p>
      </div>
      <p-avatar (click)="menu.toggle($event)" class="mx-4" image	="./../../../../assets/image/duyduy.jpg" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
      <p-menu #menu [popup]="true" [model]="items" (click)="show($event)"></p-menu>
    </div>
  </div>
</p-menubar>
