<!-- <div class="container p-relative">
  <img src="./../../../../assets/image/" alt="">
  <div class="form-login w-25 p-5">
    <div class="login text-center">
      <form [formGroup]="loginForm" (ngSubmit)="onClickSubmit(loginForm)">
        <h2 class="text-center fw-bold">Login</h2>
        <div class="form-group mt-5">
          <div class="p-input-icon-left w-100">
            <i class="pi pi-user"></i>
            <input type="text" pInputText class="w-100" placeholder="Username" formControlName = "username" />
          </div>
        </div>
        <div class="form-group mt-3">
          <div class="p-input-icon-left w-100">
            <i class="pi pi-lock"></i>
            <input type="password" pInputText class="w-100" placeholder="Password" formControlName = "password" />
          </div>
        </div>
        <button pButton pRipple type="submit" label="Login" class="p-button-rounded mt-4 mb-3 mx-auto w-75"></button>
        <div [hidden]="checkAcc">
          <p-progressBar mode="indeterminate" [style]="{'height': '8px', 'width': '50%', 'margin': '0 auto'}"></p-progressBar>
        </div>
      </form>
      <p class="mt-4">Have an account? <a (click)="showURL()" class="text-danger poiter">Sign in</a></p>
      <p>or Login with: </p>
      <div class="other-signin w-100 d-flex justify-content-evenly mt-3">
        <i class="fa-brands fa-google"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-github"></i>
      </div>
    </div>
  </div>
</div> -->




<div class="container d-flex align-items-center justify-content-between">
  <img class="img-fluid" src="./../../../../assets/image/sign-in-left.svg" alt="">
  <div class="flex-grow-1 px-5">
    <form [formGroup]="signinForm" (ngSubmit)="onClickSubmit(signinForm)">
      <h2 class="text-center fw-bold">Sign In</h2>
      <p class="fw-light text-center mt-2">A workspace to over 12 Million influencers around the global world</p>
      <div class="form-group mt-3">
        <div class="p-input-icon-left w-100">
          <i class="pi pi-user"></i>
          <input type="text" pInputText class="w-100" placeholder="User" [pKeyFilter]="blockSpace" formControlName = "username" />
        </div>
      </div>
      <div class="form-group mt-3">
        <div class="p-input-icon-left w-100">
          <i class="pi pi-user"></i>
          <input type="text" pInputText class="w-100" placeholder="First Name" formControlName = "firstName" />
        </div>
      </div>
      <div class="form-group mt-3">
        <div class="p-input-icon-left w-100">
          <i class="pi pi-user"></i>
          <input type="text" pInputText class="w-100" placeholder="Last Name" formControlName = "lastName" />
        </div>
      </div>
      <div class="form-group mt-3">
        <div class="p-input-icon-left w-100">
          <i class="pi pi-lock"></i>
          <input type="password" pInputText class="w-100" placeholder="Password" formControlName = "password" />
        </div>
      </div>
      <div class="form-group mt-3">
        <div class="p-input-icon-left w-100">
          <i class="pi pi-lock"></i>
          <input type="password" pInputText class="w-100" placeholder="Confirm Password"/>
        </div>
      </div>
      <div class="d-flex gap-3">
        <button pButton pRipple type="button" label="Back" icon="pi pi-arrow-left" [routerLink]="['login']" class="p-button-rounded p-button-warning mt-4 mb-3 mx-auto w-100"></button>
        <button pButton pRipple type="submit" label="Register" icon="pi pi-send" class="p-button-rounded mt-4 mb-3 mx-auto w-100"></button>
      </div>
      <div [hidden]="checkAcc">
        <p-progressBar mode="indeterminate" [style]="{'height': '8px', 'width': '50%', 'margin': '0 auto'}"></p-progressBar>
      </div>
    </form>
  </div>
  <img class="img-fluid" src="./../../../../assets/image/sign-in-right.svg" alt="">
</div>












<!-- toasts -->
<p-toast></p-toast>
<p-toast position="top-center" key="tc" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="flex flex-column" style="flex: 1">
          <div class="text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
      </div>
  </ng-template>
</p-toast>
