<!-- demo -->
<div class="bg-light p-3 rounded-10 lesson-card mb-2 poiter" *ngFor = "let item of lessonList" (click)="getIdLesson(item.numberLesson)">
  <div class="row">
    <div class="col-4">
      <img class="img-fluid rounded-10" src="./../../../../assets/image/courses/html.jpg" alt="">
    </div>
    <div class="col-8 d-flex gap-2 align-items-center justify-content-between">
      <p class="m-0 overflow-hidden text-nowrap text-truncate">Bài {{item.numberLesson}}: {{item.label}}</p>
      <!-- <p class="m-0">{{item.isActive}}</p> -->
      <ng-container *ngIf= "item.isActive; then showIcon else hideIcon"></ng-container>
      <ng-template #showIcon>
        <!-- <i class="pi pi-check-circle" [ngStyle]="{'color': '#1abc9c', 'font-size': '20px'}"></i> -->
        <i class="fa-solid fa-lock-open" [ngStyle]="{'color': '#1abc9c', 'font-size': '20px'}"></i>
      </ng-template>
      <ng-template #hideIcon>
        <!-- <i class="pi pi-lock" [ngStyle]="{'color': '#e74c3c', 'font-size': '20px'}"  ></i> -->
        <i class="fa-solid fa-lock" [ngStyle]="{'color': '#e74c3c', 'font-size': '20px'}"></i>
      </ng-template>
    </div>

  </div>
</div>
