/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/main.scss";
:root{
  --primary: #0d6efd;
}
*{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lexend', sans-serif;
}
a{
  text-decoration: none;
}
html{
  position: relative;
  /* font-family: 'Roboto', sans-serif !important; */
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
  /* position: absolute; */
  /* left: 0; */
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 3px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: var(--primary);
  background-color: $primary-color;
  /* border-radius: 5px; */
}
