/* You can add global styles to this file, and also import other style files */
:root{
  --primary: #0d6efd;
}
*{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lexend', sans-serif;
}
a{
  text-decoration: none;
}
html{
  position: relative;
  /* font-family: 'Roboto', sans-serif !important; */
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
  /* position: absolute; */
  /* left: 0; */
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 3px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  /* border-radius: 5px; */
}

.p-bottom-center{
  position: absolute;
  bottom:5%;
  left: 50%;
  transform:translateX(-50%);
}
