<div class="row ">
  <!-- <div class="col-5 p-relative"> -->
    <img src="./../../../../assets/image/credit-card.svg" class="col-5" alt="">
  <!-- </div> -->
  <div class="col-7 rounded-10 bg-light py-4 px-5">
    <div class="h5 text-center">Khóa học: xxx</div>
    <div class="bg-danger px-3 py-2 rounded-10 d-inline text-white">
      <i class="fa-solid fa-money-bill-1 me-2"></i>
      <h6 class="mt-0 mb-3 d-inline">xxx<span>đ</span></h6>
    </div>
    <form action="" class="mt-3">
      <label for="">Mã Voucher</label>
      <input class="w-100 my-2" type="text" pInputText>
      <label for="" class="mb-2">Hình thức thanh toán</label>
      <p-dropdown [style]="{'width':'100%'}" (onChange)="logOptionBuy($event.value)" [options]="optionBuy" placeholder="Chọn phương thức thanh toán" optionLabel="name"></p-dropdown>
      <div [ngSwitch]="selectedOption" class="mt-4">
        <div *ngSwitchCase="'MM'">
          <p class="mb-2">Số điện thoại <span class="text-danger fw-bold mb-3">0854428377</span></p>
          <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" [maxFileSize]="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
        </div>
        <div *ngSwitchCase="'ATM'" class="text-center">
          <p-image src="./../../../../assets/image/qrcode-atm.png" class="img-fluid" alt="Image" width="250" [preview]="true"></p-image>
          <p class="my-3">Ảnh biên lai</p>
          <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" [maxFileSize]="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>

        </div>
        <div *ngSwitchCase="'YUDEV'" class="text-center">
        </div>
      </div>
      <button type="submit" class="p-button p-button-success mt-3">Thanh toán</button>
    </form>



  </div>
</div>
