.input{
  font-family: inherit !important;
}
:host ::ng-deep .p-image-preview{
  width: 45%;

}
:host ::ng-deep .ng-trigger{
  text-align: center !important;
}
.buy-svg{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem !important;
}
