:root{
  --bg-blue: #0d6efd;
}
.container{
  height: 100vh;
}
.form-login{
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}
.other-signin > i{
  padding: 1rem;
  border-radius: 100%;
  background-color: #0d6efd;
  color: #fff;
  visibility: visible;
}
input{
  border-radius: 100px;
}
img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
