<div class="container p-relative">
  <img src="./../../../../assets/image/logo-login.svg" alt="">
  <div class="form-login w-25 p-5">
    <div class="login text-center">
      <form [formGroup]="loginForm" (ngSubmit)="onClickSubmit(loginForm)">
        <h2 class="text-center fw-bold">Login</h2>
        <div class="form-group mt-5">
          <!-- <label for="exampleInputEmail1">User Name</label> -->
          <div class="p-input-icon-left w-100">
            <i class="pi pi-user"></i>
            <input type="text" pInputText class="w-100" placeholder="Username" [pKeyFilter]="blockSpace" formControlName = "username" />
          </div>
        </div>
        <div class="form-group mt-3">
          <!-- <label for="exampleInputEmail1">Password</label> -->
          <div class="p-input-icon-left w-100">
            <i class="pi pi-lock"></i>
            <input type="password" pInputText class="w-100" placeholder="Password" formControlName = "password" />
          </div>
        </div>
        <button pButton pRipple type="submit" label="Login" class="p-button-rounded mt-4 mb-3 mx-auto w-75"></button>
        <div [hidden]="checkAcc">
          <p-progressBar mode="indeterminate" [style]="{'height': '8px', 'width': '50%', 'margin': '0 auto'}"></p-progressBar>
        </div>
      </form>
      <p class="mt-4">Have an account? <a (click)="showURL()" class="text-danger poiter">Sign in</a></p>
      <p>or Login with: </p>
      <div class="other-signin w-100 d-flex justify-content-evenly mt-3">
        <i class="fa-brands fa-google"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-github"></i>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
<p-toast position="top-center" key="tc" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="flex flex-column" style="flex: 1">
          <div class="text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
      </div>
  </ng-template>
</p-toast>
